@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <h2>@Html.ActionLink("Login", "Login", "Customer")</h2>
        <h2>@Html.ActionLink("Customer Create", "Create", "Customer")</h2>
        <h2>@Html.ActionLink("Restaurant Create", "Create", "Restaurant")</h2>

    </div>
